.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(202, 78, 20, 0.781);
}
.nav-items > ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
#search-bar input{
    width: 250px;
    padding: 8px 12px;
    border-radius: 25%;
}
.nav-items > ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
